#version=RHEL9
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="https://repo.almalinux.org/almalinux/9/BaseOS/x86_64/os/"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=eth0 --onboot=on --ipv6=auto --activate
network --hostname=almalinux-template

# Root password (password is 'packer')
rootpw --iscrypted $6$rounds=4096$saltsalt$L.xzXkZ2mN.gQdvOIcN6c9pzWxhJh9GpZGnLEKXkgQgpzJhPgdKO0vKQlLMd7qGqWd1qJl7JdMqLdMqLdMqLdA/
# System services
services --enabled="chronyd,sshd,NetworkManager"
# System timezone
timezone UTC --isUtc
# User creation
user --groups=wheel --name=packer --password=$6$rounds=4096$saltsalt$L.xzXkZ2mN.gQdvOIcN6c9pzWxhJh9GpZGnLEKXkgQgpzJhPgdKO0vKQlLMd7qGqWd1qJl7JdMqLdMqLdMqLdA/ --iscrypted --gecos="Packer User"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=1024
part pv.01 --fstype="lvmpv" --ondisk=vda --size=1 --grow
volgroup almalinux --pesize=4096 pv.01
logvol swap --fstype="swap" --size=1024 --name=swap --vgname=almalinux
logvol / --fstype="xfs" --size=1 --name=root --vgname=almalinux --grow

%packages
@^minimal-environment
@standard
cloud-init
cloud-utils-growpart
openssh-server
curl
wget
vim
htop
net-tools
bind-utils
%end

%addon com_redhat_kdump --disable --reserve-mb='128'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
# Configure sudo for packer user
echo "packer ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/packer
chmod 440 /etc/sudoers.d/packer

# Enable SSH for packer user
mkdir -p /home/packer/.ssh
chmod 700 /home/packer/.ssh
chown packer:packer /home/packer/.ssh

# Configure SSH daemon
sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
sed -i 's/#PasswordAuthentication yes/PasswordAuthentication yes/' /etc/ssh/sshd_config
sed -i 's/#UseDNS yes/UseDNS no/' /etc/ssh/sshd_config
systemctl enable sshd
systemctl start sshd

# Configure cloud-init
systemctl enable cloud-init
systemctl enable cloud-init-local
systemctl enable cloud-config
systemctl enable cloud-final

# Clean up
dnf clean all
rm -rf /var/cache/dnf/*
%end

reboot